{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Create New Source{% endblock %}
{% block body %}
<div class="content-section">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div class="center">
				<div style="text-align: center">
				<a href="{{ url_for('admin.list_sources') }}" class="btn btn-default btn-sm">
				 <i class="fa fa-chevron-left"></i>
							Back
						</a>
				</div>
					<h1> Create New Report </h1>
					{{ wtf.quick_form(form) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}