{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<link rel="stylesheet" href="slider.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<div class="content-section">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div class="center">
					<div style="text-align: center">
						<div>
							<br />
							<h1>B.A.P. Utilities</h1>
							<h2>UUID Generator</h2>
							<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
							<button class="fa fa-refresh" id="keygen"></button>
							<input style="width: 310px;" class="form-control" id="apikey" type="text" value="" placeholder="Click on the button to generate..."  />
							<script type="text/javascript" src="./uuidgenerator.js"></script>
							<h2>Password Generator</h2>					
							<form>
								<div class="range-control">
									<input id="inputRange" type="range" min="1" max="20" step="1" value="10" data-thumbwidth="20">
									<output name="rangeVal">10</output>
								</div>
							</form>
							<span class="input-group-btn"><button type="button" class="btn btn-default btn-lg getNewPass"><span class="fa fa-refresh"></span></button></span>
						  <input type="text" class="form-control input-lg" rel="gp" data-size="32" data-character-set="a-z,A-Z,0-9,#">
						</div>
						<script type="text/javascript" src="./passwordgenerator.js"></script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
